<div class="page">
  <h1>All Questions</h1>

  <ul>
    <% @questions.each do |q| %>
      <!-- TO DO: show if this question has been answered -->
      <li class="<%= 'answered' if q.responses.length > 0 %>"><%= link_to q.question, question_responses_path(q) %> (<%= q.responses.length %> responses)</li>
    <% end %>
  </ul>

  <p><%= link_to "Add a Question", { action: "new" }, class: "btn" %></p>
</div>