<div class="page">
  <h1>Add Question</h1>

  <%= form_for @question do |f| %>
    <%= f.label(:question, "What do you want to ask your teammates?") %>
    <%= f.text_field :question %>
    <%= f.submit "Add Question" %>
  <% end %>
</div>