@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700');

body {
  background: linear-gradient(150deg, #7362DC, #6078FF);
  background-repeat: no-repeat;
  color: white;
  min-height: 95vh;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Nunito Sans", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: white;
}