.page {
  width: 100%;
  max-width: 900px;
  max-height: 80vh;
  margin: 10vh auto;
  overflow-y: scroll;
  background: #FFF;
  color: #666;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.45);
  padding: 20px 40px 40px;
  position: relative;
  line-height: 1.6;
}

.page a {
  color: #7362DC;
  &:hover {
    color: #5d50b2;
  }
}

a.danger {
  color: crimson;
  &:hover {
    color: darkred;
  }
}

.page h1 {
  margin: 20px 0;
  text-align: center;
  line-height: 1.2;
  color: #555;
}

.page ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;

  li {
    padding-left: 20px;
    position: relative;
  }

  li:before {
    content: "✘";
    color: red;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  li.answered:before {
    content: "✔";
    color: green;
  }

  li.reply:before {
    content: "➔";
    color: green;
  }

  li:after {
    content: "";
    display: block;
    clear: both;
  }
}

.pull-right {
  float: right;
  margin-left: 20px;
}

.pull-left {
  float: left;
  margin-right: 20px;
}

.page .actions {
  display: flex;
  align-items: center;
  
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}