.page {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  background: #FFF;
  color: #666;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.45);
  padding: 20px;
  position: relative;
  line-height: 1.6;
}

.page a {
  color: #7362DC;
}

a.danger {
  color: crimson;
}

.page h1 {
  margin: 20px 0;
  text-align: center;
  line-height: 1.2;
}

.page ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;

  li {
    padding-left: 20px;
    position: relative;
  }

  li:before {
    content: "✘";
    color: red;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  li.answered:before {
    content: "✔";
    color: green;
  }

  li.reply:before {
    content: "➔";
    color: green;
  }
}